
	#wrapper {
		position: absolute;
		z-index:0;
		top:0px; 
		bottom:0px; 
		right:0px; 
		left:0px; 
		background-color:#f0f0f0;
		overflow:hidden; 
	}

	#dimmer {
		position: absolute;
		z-index:3;
		top:0px; 
		bottom:0px; 
		right:0px; 
		left:0px; 
		opacity:0.5;
		background-color:#000000;
		display:none;
	}		
	
	#header {
		position: absolute;
		z-index:1;
		top:0px; 
		right:0px; 
		left:0px;
		height:28px;
		background-color:#c0c0ff;
		padding:5px;
		text-align:center;
	}

	#forumtitle{
		position: absolute;
		z-index:2;
		width:100%;
		max-width:700px;
		height:100%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, 0%);
		font-size: 24px;
		font-weight: bold;
		color:#ffffff;
	}
	
	#createButtonSpace {
		position: absolute;
		z-index:2;
		width:100%;
		max-width:700px;
		bottom:15px; 
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, 0%);
		padding:5px;
		display:none;
	}

	#output {
		position: absolute;
		z-index:1;
		width:100%;
		max-width:700px;
		top:45px; 
		bottom:50px; 
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, 0%);
		background-color:#ffffff;
		padding:10px 10px 10px 10px;
		overflow:auto;
	}

	#signOutButton {
		display:none;
	}
	
	#userNameSpace{
			float:right;
			padding:0px 10px 0px 0px;
	}
	
	#newPostBox {
		position: absolute;
		z-index:7;
		top:200px; 
		width:500px;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, 0%);
		background-color:#c0c0ff;
		border: none;
		display:none;
		padding:20px;
	}

	#postCreator {
		position:relative;
		width:98%;
		z-index:8; 
		overflow:hidden;
	}

	#postText {
		position:relative;
		width:98%;
		height:100px; 
		z-index:8; 
		resize:none;
		overflow-y: auto;
	}
	
	#newThreadBox {
		position: absolute;
		z-index:7;
		top:200px; 
		width:500px;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, 0%);
		background-color:#c0c0ff;
		border: none;
		display:none;
		padding:20px;
	}

	#threadTitle {
		position:relative;
		width:98%;
		z-index:8; 
		overflow:hidden;
	}

	#threadCreator {
		position:relative;
		width:98%;
		z-index:8; 
		overflow:hidden;
	}

	#threadText {
		position:relative;
		width:98%;
		height:100px; 
		z-index:8; 
		resize:none;
		overflow-y: auto;
	}

	button {
		float:right;
		cursor:pointer;
	}

	.cancelButton {
		display:flex;
		justify-content:center;
		align-items:center;
		line-height:100%;
		position:absolute;
		top:0px;
		right:0px;
		width:20px;
		height:20px; 
		z-index:9; 
		overflow:hidden;
		background-color:#dddddd;
		border: none;
		border-radius:50%;
		cursor:pointer;
	}

	
	headline {
		font-size: 130%;
		font-weight: bold;
	}
	
